/* About.css */

.aboutme {
    background-color:black;
    padding: 40px 0;
    color: white;
  }
  
  .aboutme-title{
    font-size: 2.5rem;
    font-weight: bold;
    /* color: #333; */
    margin-bottom: 40px;
  }

  .intro-text {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .info-row {
    text-align: left;
  }
  
  .info-row h5 {
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .info-row p {
    margin-top: 0;
  }
  