.main {
    width: 100vw;
    /* background: rgb(140, 139, 139); */
}

.img-logo {
    width: 50px; 
    height: 50px; 
}

.custom-link{
    margin-left: auto;
}

.custom-nav-link {
    color: white !important; 
    margin-left: 90px;  
    font-weight: bold; 
}

.contact-button {
    margin-left: 90px; 
    color: black; 
}
